version: "3.8"

services:
  # db:
  #   image: mcr.microsoft.com/mssql/server:2022-latest
  #   container_name: erp_db
  #   restart: always
  #   environment:
  #     - ACCEPT_EULA=Y
  #     - MSSQL_SA_PASSWORD=poolasa@123 # رمز باید پیچیده باشد
  #     - MSSQL_PID=Enterprise # برای نسخه Enterprise
  #   ports:
  #     - "1435:1433"
  #   volumes:
  #     - mssql_data:/var/opt/mssql

  redis:
    image: redis:alpine
    container_name: erp_redis
    restart: always
    ports:
      - "6379:6379"

  backend:
    build:
      context: ./ERPDotNet
      dockerfile: Dockerfile
    container_name: erp_api
    restart: always
    depends_on:
      # - db
      - redis
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      # - ASPNETCORE_ENVIRONMENT=Development
      # در داکر، این باید روی پورت داخلی کانتینر گوش دهد
      - ASPNETCORE_URLS=http://+:5000
      - ConnectionStrings__DefaultConnection=Server=host.docker.internal,1433;Database=ERP_DB;User Id=sa;Password=poolasa@123;TrustServerCertificate=True;
      # - ConnectionStrings__DefaultConnection=Server=db,1433;Database=ERP_DB;User Id=sa;Password=poolasa@123;TrustServerCertificate=True;
      - ConnectionStrings__Redis=redis:6379
      # تنظیمات JWT (لطفا مقادیر واقعی و امن قرار دهید)
      - JwtSettings__Secret=YourSuperSecretKeyForProductionChangeThisASAP123!
      - JwtSettings__Issuer=ERPDotNet
      - JwtSettings__Audience=ERPDotNetClient
    ports:
      - "5000:5000"

  frontend:
    build:
      context: ./erp-frontend
      dockerfile: Dockerfile
      # این بخش آرگومان‌ها برای بیلد شدن صحیح نکست جی‌اس حیاتی است
      args:
        NEXT_PUBLIC_API_URL: http://94.182.39.201:5000
    container_name: erp_client
    restart: always
    depends_on:
      - backend
    environment:
      # ارتباط سمت سرور (SSR) از داخل شبکه داکر
      - API_URL=http://backend:5000
      # ارتباط سمت کلاینت (Browser) از طریق اینترنت
      - NEXT_PUBLIC_API_URL=http://94.182.39.201:5000
    ports:
      - "3000:3000"

volumes:
  mssql_data:
